* {
    background-color: #242423;
    color: #DBD5B5;
}
#cvHolder { /* Canvas Holder */
    display: flex;
    justify-content: center;
}

#hero {
    background: repeating-linear-gradient(to right, #7CFEF0, #6BFFB8 10%, #2CEAA3 10%, #28965A 10%, #2A6041 10%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.preview {
    border: 20px double #28965A;
    width: fit-content;
}
.preview .title {
    font-family: 'Courier New', Courier, monospace;
}
.preview .difficultyHolder {
    display: flex;
    flex-direction: row;
    background-color: #DBD5B5;
}
.difficultyHolder .easy {
    color: #DD614A;
}
.difficultyHolder .normal {
    color: #CCFF66;
}
.difficultyHolder .hard {
    color: #243119;
}
.difficultyHolder .oni {
    color: #BC96E6;
}
.difficultyHolder .ura {
    color: #55286F
}
.easy, .normal, .hard, .oni, .ura {
    padding: 0px 24px 0px 24px;
    background-color: #DBD5B5;
    font-size: 24px;
}